.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login-card {
    margin: auto;
    width: 80%;
    /* カードの幅を調整 */
    max-width: 450px;
    /* カードの最大幅を設定 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* カードに影を追加 */
    padding: 0;
    /* カードの内側の余白を設定 */
    height: auto;
}

@media (max-width: 768px) {
    .login-card {
        width: 80%;
        /* 小さい画面ではカードの幅を80%に */
    }
}

@media (min-width: 769px) {
    .login-card {
        width: 80%;
        /* 大きい画面ではカードの幅を1/3に */
    }
}

.form-label {
    display: flex;
    align-items: center;
}

.form-label i {
    margin-right: 10px;
    color: #6c757d;
    /* アイコンの色をグレーに */
}

.custom-input {
    flex-grow: 1;
    margin-left: 10px;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0 !important;
    box-shadow: none;
}

.custom-input:focus {
    border-bottom-color: #007bff;
    outline: none;
    box-shadow: none;
}

.custom-input::placeholder {
    font-style: italic;
    color: #6c757d;
}

.btn-primary {
    float: right;
}
.card-header {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border-bottom: none;
    /* ヘッダーの下の余白を消す */
}